/*--------------------------------------------------------------CSS RESET---------------------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/  
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre, 
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

HTML5 display-role reset for older browsers article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,
html {
    height: 100vh;
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #181818;
}

/*-------------------------------------------------------------------------LEFT--------------------------------------------------------------*/

.image {
    flex: 1;
    background-position: center;
    background-image: url(images/mak-vnlx943Ytn8-unsplash.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.image div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    padding: 15px 0;
    margin-top: 14.4rem;
}

.logo {
    height: 10vh;
}

.image p {
    position: relative;
    top: 60vh;
    text-align: center;
}

/*--------------------------------------------------------------------------RIGHT--------------------------------------------------------------*/

.sign-up {
    display: flex;
    flex-direction: column;
    max-width: 62%;
}

/*          #TOP             */

.top {
    padding: 9rem 16rem 2rem 4rem;
    /* background-color: #EEF2E6; */
    background-color: #F1F1F1;
}

.top p {
    font-size: 24px;
}

.top>p {
    margin-bottom: 2rem;
}

/*          #MIDDLE (FORM)           */

h1 {
    font-size: 30px;
}

label {
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 1;
    font-weight: 500;
    opacity: 0.8;
}

form {
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem 3rem 4rem;
    gap: 2rem;
    /* background-color: #D6CDA4; */
    background-color: #ABC270;
    box-shadow: -2px 4px 6px 1px rgba(26, 18, 11, 0.4);
    position: relative;
    z-index: 1;

    color: #F1F1F1;

    border-radius: 3px;
}

.middle input[type="text"],
.middle input[type="tel"],
.middle input[type="email"],
.middle input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    border-radius: 8px;
    border: 1px solid rgba(15, 61, 62, 0.3);

    background-color: #F1F1F1;
    outline: none;

    width: 20rem;
    padding: 8px;
    font-size: 12px;
}

fieldset {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

fieldset div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: 4rem;
}

.middle input:hover{
    box-shadow: 0px 0px 2px 2px rgba(101, 136, 100, 0.5);
}

.middle input:invalid:focus{
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

.middle input+span{
    position: relative;
}

.middle input+span::before{
    position: absolute;
    right: -20px;
    top: -29px;
}

  .middle input[type="tel"]+span::after, .middle input[type="password"]+span::after {
    font-size: 0.7rem;
    position: absolute;
    top: 0;
    left: 1px;
  }

.middle input:invalid:focus+span::before{
    content: "❗";
    opacity: 0.7;
    color: #D55C5F;
}

.middle input[type="tel"]:invalid:focus+span::after{
    content: "Must have exactly 10 digits";
    color: #D55C5F;
}

.middle input[type="password"]:invalid:focus+span::after{
    content: "Should have mininmum 10 characters";
    color: #D55C5F;
    letter-spacing: 1.5px;
}

.middle input:valid+span::before{
    content: "✓";
    opacity: 0.6;
    color: #ABC270;
} 

.middle input::placeholder{
    letter-spacing: 2px;
    opacity: 0.3;
}

/*          #BOTTOM         */

.bottom {
    padding: 2rem 4rem 4rem 4rem;
    /* background-color: #EEF2E6; */
    background-color: #F1F1F1;
    margin: auto 0;
    flex: 1;
    display: inline-block;
}

.bottom p {
    margin: 1rem 0 0;
    letter-spacing: 3px;
}

.btn{
    appearance: none;

    padding: 14px 16px;
    margin: 1.5rem 5px 5px;
    width: 30%;

    border: 4px solid #ABC270;
    border-radius: 8px;

    font-size: 18px;
    letter-spacing: 1.5px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;

    background-color: #ABC270;
    color: #F1F1F1;
}

.btn:hover{
    background-color: #F1F1F1;
    color: #ABC270;    

    transition: 0.4s;
    cursor: pointer;
}

.bottom a, .image a{
    text-decoration: none;

    color: #ABC270;

    font-weight: 700;
}

/*          FOOTER          */

fa {
    height: 32px;
    width: 32px;
}

.footer span {
    font-size: 28px;
    font-family: 'Cinzel Decorative', cursive;
}

.footer {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.footer a{
    color: #181818;
    text-decoration: none;
}

